.banner { 
    background-color: #111016;
    &.navbar{
        padding-bottom: 10px;
        margin-bottom: 0px;
        nav{
            margin-top:10px;
            ul{
                li{
                    &.active{
                        a{
                            color: #fc6f5c;
                        }
                    }
                    a{
                        font-family: @fontRoboto;
                        font-size: 14px;
                        text-transform: uppercase;
                        &:focus,
                            &:hover,
                            &:active{
                            background-color: transparent;
                            color: #fc6f5c;
                        }
                    }
                }
            }
        }
    }
}